<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.engstuff.this_app">

    <application
        android:name="com.engstuff.this_app.activities.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.engstuff.this_app.activities.Main"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.engstuff.this_app.activities.RenameMeActivity"
            android:label="@string/title_activity_quiz"
            android:parentActivityName="com.engstuff.this_app.activities.Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.engstuff.this_app.activities.Main" />
        </activity>
    </application>

</manifest>
